<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel='icon' href='/images/weather.png'>
    <link rel='stylesheet' href='/css/styles.css'>
</head>

<body>
    <div class='main'>
        {{>header}}
        <p>This site was created by Scott Geleas. It uses data form Mapbox.com and Weatherstack.com to give an accurate
            current forecast.</p>
        <img class='avatar' src='/images/scott.jpg'>
    </div>
    {{>footer}}
</body>

</html>