<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel='icon' href='/images/weather.png'>
    <link rel='stylesheet' href='/css/styles.css'>
</head>

<body>
    <div class='main'>
        {{>header}}
        <img class='avatar' src='/images/scott.jpg'>
    </div>
    {{>footer}}
</body>

</html>